html {
    width: 100%;
    margin: 0;
    padding: 0;
}
body {
    background-color: #256D85;
    width: 100%;
}

/* NavBar styles */

.navbar {
    background-color: #06283D !important;
    height: 5rem;
    z-index: 10;

    
}

.navbar .navbar-brand {
    color: white;
}

.navbar .navbar-brand:hover {
    color: #47B5FF;
}

.navbar .navbar-nav li a {
    color: white !important;
}

.navbar .navbar-nav li a:hover {
    color: #47B5FF !important;
    
}

.nav-link {
    background-color: #06283D;
    padding-left: 1rem;
}

/* Jumbotron styles */

#about h2 {
    margin: 1rem 0;
    background-color: #DFF6FF;
}

.jumbotron {
  width: 70%;
  height: 70%;
  margin: 0 auto;
  border-radius: 25px;
  padding: 0.5rem;
  margin-top: 1rem;
  
}

.jumbotron h1 {
    font-size: 2rem;
    padding: 1rem;
}

.jumbotron img {
    align-items: flex-start;
    border-radius: 50% 20% / 10% 40%;
    background-color: #06283D;
    transition: 1s;
}

.jumbotron img:hover {
    background-color: #256D85;
    border-radius: 10% 40% / 50% 20%;
    
}

.jumbotron .bio {
    text-align: left;
    padding: 0;
}

.jumbotron .lead {
    font-size: 1.5rem;
    padding-top: 1rem;
}

/* Work Section Styles */

.card img {
    max-width:100%;
    max-height:100%;
    object-fit: contain;
}

#work h2 {
    margin: 1rem 0;
    background-color: #DFF6FF;
}

/* Skills Section Styles */

.skills {
    background-color: #DFF6FF;
}

.skills h2 {
    margin: 1rem 0;
    background-color: #DFF6FF;
}

/* Footer Styles */

#contact h2 {
    margin: 1rem 0;
    background-color: #DFF6FF;
}

.contact {
    background-color: #06283D;
    color: white;
    text-align: center;
    padding: 3rem 0;
}

.contact a{
    color: #DFF6FF;
    
}

.contact a:hover {
    box-shadow: rgba(255, 244, 244, 0.25) 0px 54px 55px, rgba(255, 244, 244, 0.12) 0px -12px 30px, rgba(255, 244, 244, 0.12) 0px 4px 6px, rgba(255, 244, 244, 0.17) 0px 12px 13px, rgba(255, 244, 244, 0.09) 0px -3px 5px;
}

