.navbar {
    background-color: #06283D !important;
    height: 5rem;
}

.navbar .navbar-brand {
    color: white;
}

.navbar .navbar-brand:hover {
    color: #47B5FF;
}

.navbar .navbar-nav {
    margin: 0 40rem;
    
}

.navbar .navbar-nav li {
    padding: 4rem;
}

.navbar .navbar-nav li a {
    color: white !important;
}

.navbar .navbar-nav li a:hover {
    color: #47B5FF !important;
    
}

.jumbotron {
  width: 70%;
  height: 70%;
  margin: 0 auto;
  border-radius: 25px;
  padding: 0.5rem;
  margin-top: 1rem;
  
}

.jumbotron h1 {
    font-size: 2rem;
    padding: 1rem;
}

.jumbotron img {
    width: 200px;
    border-radius: 100px;
    align-items: flex-start;
}

.jumbotron .bio {
    text-align: left;
    padding: 0;
}

.jumbotron .lead {
    padding-top: 1rem;
}
